.topbar nav {
    display: flex;
    flex: 1;
    a {
        margin-right: 24px;
        color: rgba(#000, .5);
        font-weight: 500;
        &:hover {
        	color: rgba(#000, 1);
        }
    }
    a.active {
        color: rgba(#000, 1);
    }
}
