{
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "always",
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "parser": "babylon"
}
